MQTT_CLIENT_ID=xcomfort
MQTT_USER=mqttuser
MQTT_PASSWORD=mqttpass
MQTT_HOST=host
MQTT_PORT=1883
HA_DISCOVERY_PREFIX=homeassistant
EPROM=true
# DATAPOINTS_FILE=datapoints.json
HA_DISCOVERY=true
# HA_DISCOVERY_REMOVE=false
VERBOSE=true
HIDAPI=true
# CONFIG_PATH=/etc/xcomfortd
# ECI_HOSTS="host1 host2"
